body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 20px 0 40px;
}

.main {
  min-height: 85vh;
}

.footer {
  background-color: #262836;
  text-align: center;
  color: white;
  padding: 20px 10px;
  border-radius: 10px;
}

.footer a {
  color: #57aac8;
}

.header a {
  border: 1px solid #8af1aa;
  background-color: #8af1aa;
  color: #262836;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
